{
  "env": {
    "browser": true,
    "jquery": true,
    "commonjs": true,
    "es6": true,
  },
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
      "impliedStrict": true,
      "experimentalObjectRestSpread": true,
    },
  },
  "extends": "google",
  "rules": {
    "indent": ["error", 2],
    "linebreak-style": ["error", "unix"],
    "quotes": ["error", "single"],
    "semi": ["error", "never"],
    "no-floating-decimal": "error",
    "no-multiple-empty-lines": ["error", {"max": 2}],
    "no-new-func": "error",
    "no-self-compare": "error",
    "no-unused-expressions": "error",
    "yoda": ["error", "always", {"onlyEquality": true}],
    "arrow-parens": ["error", "as-needed", {"requireForBlockBody": true}],
    "no-var": "error",
    "object-shorthand": "error",
    "prefer-arrow-callback": "error",
    "prefer-const": "warn",
    "prefer-spread": "error",
    "prefer-template": "error",
    "require-yield": "error",
    "no-unused-vars": ["warn", {"vars": "local", "args": "after-used"}],
  }
}
